.mybody {
    background: #eee;
}
.page-container {
    max-width: 60rem;
    font-family: sans-serif;
    margin: 0 auto;
    background: white;
}
.middle {
    display: flex;
    min-height: 30rem;
}
.nav {
    background-color: #ccc;
}
.nav a {
    display: inline-block;
    padding: 0.5em;
    color: #0a4ba6;
}
.nav.leftnav a {
    display: block;
    min-width: 6em;
}
